body{
    font-family: 'Poppins', sans-serif;
    max-width: 100% !important;
    max-height: 100% !important;
    background-color: beige;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: none;
}