* {
    box-sizing: border-box;
  }
  .homecont-column {
    float: left;
    width: 33.3%;
    padding: 10px 10px;
  }
  
  .homecont-row {margin: 0 -5px;}
  
  .homecont-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .homecont-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    max-height: 100% !important;
    max-width: 100% !important;
  }
  
  @media screen and (max-width: 1200px) {
    .homecont-column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

  .homecont-card img{
    max-height: 100% !important;
    max-width: 100% !important;
    height: 10rem;
  }

  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.AddNewCon-contents, .EditCon-contents{
  display: none;
  width: 20rem;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1001;
  background-color: var(--lm-bg-color);
}
.activeAddCon, .activeEditCon{
  display: block;
  color: #fff;
  background-color: var(--lm-bg-color) !important;
  overflow: hidden;
}

.close:hover{
  cursor: pointer;
}
